<div class='container'>
  <div class='row'>
    
    <script src="app.js"></script>
    
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
    
    hello = "Hello, World"
    puts hello
    
  </div>
</div>